<div class="container p-5 d-flex align-items-center">
  <div class="row">

    <div class="col-md-5">
      {{> tasks/taskForm }}
    </div>

    <div class="col-md-7">
      {{> tasks/taskTable }}
    </div>
  </div>
</div>